/* Estilo base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #6a0dad, #e95587, #ff0000); /* Gradiente suave de izquierda a derecha */
    color: #333;
    line-height: 1.6;
    
    /* Flexbox para centrar todo en la página */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    height: 80vh; /* Asegura que el body ocupe toda la altura de la ventana */
    text-align: center; /* Alinea el texto en el centro */
}

.papu {
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 20x;
    text-align: center;
}

/* Estilo para los botones */
.buttons {
    display: flex;
    flex-direction: column; /* Cambia la dirección de los botones a columna */
    align-items: center; /* Centra los botones horizontalmente */
}

button {
    background-color: #ffffff;
    color: #000000;
    font-size: 1.2rem;
    padding: 15px 300px; /* Mantiene los botones grandes */
    margin: 10px;
    border: none; /* Eliminamos el borde */
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%; /* Asegura que los botones tengan un ancho completo */
    max-width: 300px; /* Limita el tamaño máximo de los botones */
    text-decoration: none; /* Elimina cualquier subrayado */

    display: flex; /* Activamos flexbox */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    text-align: center; /* Alinea el texto dentro del botón */
}

a{
    text-decoration: none;
}



button:hover {
    background-color: #f0f0f0; /* Cambia el color al pasar el mouse */
    transform: translateY(-5px);
}

button:active {
    background-color: #e0e0e0; /* Color más oscuro cuando se hace clic */
    transform: translateY(0);
}

/* Diseño responsivo */
@media (max-width: 768px) {
    .buttons {
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 80%; /* Asegura que los botones no sean demasiado grandes en pantallas pequeñas */
        margin: 10px 0;
    }
}
